{% extends 'base.html' %}
{% load static %}

{% block title %}Arena de Combate - MithoWorld{% endblock %}

{% block content %}
    <header style="text-align: center; margin: 60px 0;">
        <h1>El Oráculo de Combate</h1>
        <p class="subtitle">La IA predice el futuro basándose en 10,000 simulaciones.</p>
    </header>

    <div class="arena-container">
            <!-- LUCHADOR 1 -->
            <div class="fighter-box creature-card">
                <h3>Luchador 1</h3>
                <select id="select-luchador-1">
                    <option value="">Selecciona criatura...</option>
                </select>
                <div id="preview-1"></div> <!-- Aquí mostraremos la foto al seleccionar -->
            </div>

            <div class="vs-badge">VS</div>

            <!-- LUCHADOR 2 -->
            <div class="fighter-box creature-card">
                <h3>Luchador 2</h3>
                <select id="select-luchador-2">
                    <option value="">Selecciona criatura...</option>
                </select>
                <div id="preview-2"></div>
            </div>
    </div>

    <button class="predict-btn" onclick="predecirCombate()">🔮 Predecir Ganador</button>
    <div id="resultado-overlay"></div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/arena.js' %}"></script>
{% endblock %}