{% extends 'base.html' %}
{% load static %}

{% block content %}
    <header style="text-align: center; margin: 60px 0;">
        <h1>Explora el Universo</h1>
        <p class="subtitle">Colección de criaturas legendarias generadas por IA.</p>
    </header>

    <div class="creature-grid" id="creature-container">
        <p style="text-align:center; width:100%; color:#888;">Cargando el universo...</p>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/app.js' %}"></script>
{% endblock %}